
.vs/MajorProject/v17/.suo
MajorProject/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MajorProject/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.exe
*.manifest
*.vsidx
*.application
*.pdb
MajorProject/obj/x86/Debug/MajorProject.csproj.FileListAbsolute.txt
.vs/MajorProject/v17/DocumentLayout.json
MajorProject/obj/x86/Debug/MajorProject.csproj.CoreCompileInputs.cache
MajorProject/.vs/MajorProject.csproj.dtbcache.json
MajorProject/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
MajorProject/obj/x86/Debug/MajorProject.csproj.GenerateResource.Cache
MajorProject/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
